@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    max-height: max-content;
}

.main {
    width: 100vw;
    height: 100svh;

    display: grid;
    grid-template-rows: repeat(12, 1fr);

    /* background-image: linear-gradient(to top, rgb(40, 5, 5), rgb(237, 10, 10), rgb(245, 28, 68)); */
}

.header {
    grid-row: 1;

    display: grid;
    padding: 1rem 0;
    place-items: center;
}
    .nav-div {
        width: 1024px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;

        background-color: #fff;
        border: 1px solid black;
        border-radius: 1rem;
        padding: .2rem 1rem;
    }
        .title {
            font-size: calc(10px + 1vmin);
            color: rgb(199, 0, 0);
        }
        .navegation {
            display: flex;
            justify-content: center;
            gap: .8rem;
        }
        .currency {
            position: relative;
            display: flex;
            justify-content: end;        
        }
            .currency-select {
                display: flex;
                gap: 1rem;
            }
                .currency-select > input {
                    width: 4rem;
                    text-align: center;
                    background-color: transparent;
                    border: 1px solid black;

                    font-size: calc(10px + 1vmin);
                    font-weight: 500;
                    text-transform: uppercase;
                }
                
        .list-fiat {
            position: absolute;
            top: 125%;

            background-color: white;
            box-shadow: -5px 5px 1px gray;
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-radius: .6rem;
            width: 100%;
            height: 200px;

            z-index: 9;
            overflow-y: scroll;
        }
                .list-fiat::-webkit-scrollbar {
                    display: none;
                 }
            .select-fiat {
                padding: .8rem;
                font-size: calc(10px + .7vmin);
                color: #252525;
                font-weight: 500;
                transition: .4s ease;
                cursor: pointer;

                border-bottom: 1px solid rgb(210, 210, 210);
            }
                .select-fiat:hover {
                    padding-left: 1.3rem;
                }
                .select-fiat > span {
                    font-size: calc(10px + 1vmin);
                    font-weight: 600;
                    pointer-events: none;
                }


.section {
    grid-row: span 11;
    display: grid;
    align-items: center;
    /* overflow: hidden; */
}
    .hero {
        margin: 0 auto;
        
        width: 1024px;
        height: 568px;

        display: grid;
        grid-template-rows: repeat(12, 1fr);

        background-color: #fff;
        border: 1px solid black;
        border-radius: 1rem;
    }
        .header-hero {
            grid-row: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: .5rem .8rem;
        }
            .header-hero > input {
                font-size: calc(10px + 1vmin);
                padding: .2rem 1rem;
                border: 1px solid black;
                border-radius: 1rem;

                width: 24rem;
            }
                .header-hero > input::placeholder {
                    font-weight: 500;
                }
        .section-hero {
            grid-row: span 11;

            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }   
            .crypto-list {
                display: grid;
                grid-auto-flow: row;
                grid-auto-rows: max-content;
                grid-row-gap: 1rem;

                padding: 1rem;
                overflow-y: scroll;
            }
             .crypto-list::-webkit-scrollbar {
                display: none;
             }

.mini-card-component {
    background-color: white;
    border-radius: 1rem;
    width: 80%;
    box-shadow: -5px 5px 1px gray;
    border-top: 1px solid black;
    border-right: 1px solid black;
    cursor: pointer;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: .7rem 0;
    padding-right: 1rem;
}
    .crypto-logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .crypto-logo > img {
            width: 5rem;
            aspect-ratio: 2/2;
            object-fit: cover;
            /* border: 1px solid red; */
        }
    .labels {
        grid-column: span 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
        .title-crypto {
            font-size: calc(10px + 2vmin);
        }
            .title-crypto > span {
                font-size: calc(10px + .7vmin);
                color: #404040;
            }
        .price-crypto {
            font-size: calc(10px + 1.8vmin);
            align-self: end;

            display: flex;
            flex-direction: column;
            color: green;
        }
            .price-crypto > span {
                font-size: calc(10px + .9vmin);
                color: #404040;
                align-self: self-start;
            }
 
.details-and-trade {
    position: relative;
    padding-right: 1rem;
    padding-bottom: 1rem;
    display: grid;
    grid-template-rows: repeat(8, 1fr);

    height: 100%;
}            
    .crypto-details {
        grid-row: span 6;
    }
        .card-details {
            background-color: white;
            border-radius: 1rem;
            box-shadow: -5px 5px 1px gray;
            border-top: 1px solid black;
            border-right: 1px solid black;
            padding: 1rem;

            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
            .card-logo-label {
                display: flex;
                gap: 1rem;
            }
                .card-logo-label > img {
                    width: 5rem;
                    aspect-ratio: 2/2;
                    object-fit: contain;
                    /* border: 1px solid red; */
                }
                .title-card {
                    font-size: calc(10px + 4vmin);

                    display: flex;
                    flex-direction: column;
                    line-height: 1;
                    gap: .3rem;
                }
                    .title-card > span {
                        font-size: calc(10px + 1vmin);
                        font-weight: 500;
                        color: #303030;
                    }
            /* .description-card {
                display: none;
            } */
            .infos-card {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }
                .txt-info {
                    display: flex;
                    flex-direction: column;
                    font-weight: 600;
                }
                    .txt-info > span {
                        font-weight: 500;
                        color: #252525;
                    }
    .convert-coins {
        grid-row: span 2;
    }
        .container-convert {
            background-color: white;
            border-radius: 1rem;
            box-shadow: -5px 5px 1px gray;
            border-top: 1px solid black;
            border-right: 1px solid black;
            padding: 1rem;

            height: 100%;

            display: grid;
            grid-template-columns: repeat(5, 1fr);
        }   
            .convert-screens {
                grid-column: span 2;

                display: flex;
                flex-direction: column;
                gap: .5rem;
            }
                .convert-screens > input {
                    border: 1px solid black;
                    font-size: calc(10px + .9vmin);
                    padding-left: .5rem;
                    padding: .2rem 0;
                    padding-left: .4rem;
                }
                .convert-screens > input:nth-child(1) {
                    width: 3.5rem;
                    text-align: center;
                    font-weight: 600;
                    align-self: center;
                }
            .switch-btn {
                place-self: center;
                width: 2rem;
                height: 2rem;
                border-radius: 50%;

                background-color: white;
                border-radius: 1rem;
                box-shadow: -3px 3px 1px gray;
                border-top: 1px solid black;
                border-right: 1px solid black;
                padding: 1rem;

                display: grid;
                place-content: center;
                cursor: pointer;
            }        

/* .fake-image {
    width: 5rem;
    height: 5rem;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 50%;
} */

.screen-off {
    display: none;
}